<h1>Şifre Oluşturucu</h1>

<div>
  <label>Şifre Uzunluğu</label>
  <input type="text" (change)="modifyLenght($event.target.value)">
</div>

<div>
  <label>Alfabeyi Kullan</label>
  <input (change)="modifyLetters()" type="checkbox">
</div>

<div>
  <label>Sayıları Kullan</label>
  <input (change)="modifyNumbers()" type="checkbox">
</div>

<div>
  <label>Sembolleri Kullan</label>
  <input (change)="modifySymbols()" type="checkbox">
</div>

<div>
  <button [disabled]="!(lenght && (includeLetters || includeNumbers || includeSymbols))" (click)=" buttonClick()">Oluştur</button>
</div>  <!-- disableyi o şekilde yazmamızın nedeni lenght default olarak sıfırdı ve sıfır false anlamına geliyor.
ayrıca checkboxlardan en az birinin işaretli olması gerektiği için &ve || yada imleci kullanıldı. burda baya matematikteki mantık konusu var
ne işimize yarıcak diyodum yarıyomuş pu-->

<div>
  <label>Şifreniz</label>
  <input [value]=" password">
</div>


